[project]
	description = A community library based on Ethereum blockchain, implemented using Solidity and Truffle
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chandan Kumar (nrchandan)
[access "refs/for/refs/*"]
	read = group user/Chandan Kumar (nrchandan)
	push = group user/Chandan Kumar (nrchandan)
	label-Code-Review = -2..+2 group user/Chandan Kumar (nrchandan)
	label-Verified = -1..+1 group user/Chandan Kumar (nrchandan)
	rebase = group user/Chandan Kumar (nrchandan)
	removeReviewer = group user/Chandan Kumar (nrchandan)
	submit = group user/Chandan Kumar (nrchandan)
[access "refs/heads/*"]
	read = group user/Chandan Kumar (nrchandan)
	create = group user/Chandan Kumar (nrchandan)
	push = +force group user/Chandan Kumar (nrchandan)
	pushMerge = group user/Chandan Kumar (nrchandan)
[access "refs/tags/*"]
	push = group user/Chandan Kumar (nrchandan)
	push = +force group user/Chandan Kumar (nrchandan)
